/* h1 {
    color: red;
  }
  p,li{
      color: green;
  }

  li {
    list-style-type: square;
  }

  li.special{
      color: orange;
      font-weight: bold;
  }
  li em {
    color: rebeccapurple;
  }
  h1 + p {
    font-size: 200%;
  }



  body h1 + p.special {
    color: yellow;
    background-color: black;
    padding: 5px;
  } */ 
  a:link{
    color:deeppink;
    /* text-size-adjust: 120%;  */
    font-weight: bold;
    }
 
a:visited{color: green; }
a:hover{
    text-decoration: none;
}
  body {
    background-color: pink;
  }
  
  @media (min-width: 3000em) {
    body {
      background-color: blue;
    }
  }
  
  .special {
    color: red;
  }
  
  p {
    color: blue;
  }
  
  .outer {
    border: 5px solid black;
  }
/*   
  .box {
    padding: 20px;
    width: calc(90% - 60px);
    background-color: rebeccapurple;
    color: white;
  } */
  .box {
    margin: 0px;
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    transform: rotate(0.8turn);
  }
  




  